In [1]:
import pandas as pd
import numpy as np
import time
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

## School Progress Report (SPR) Data

In [2]:
spr_yoy = pd.read_excel('data/SPR_SY1617_Data/SPR_YearoverYear_20180129.xlsx', \
                             sheet_name="Sheet1", skiprows=9, header=0)

spr_yoy['School ID'] = spr_yoy['School ID'].astype(str)
spr_yoy = spr_yoy[(spr_yoy["2017-18 Learning Network"] != "Closed")]

print(spr_yoy.shape)
spr_yoy.head(3)

(321, 33)

,Unnamed: 0,School ID_old,Dup_id_ind,School ID,School Name,2017-18 Learning Network,Report Type (School Level),YOY Change (2015-16 to 2016-17),2016-2017 Achievement Score,2016-2017 Progress Score,...,2013-2014 Achievement Score,2013-2014 Progress Score,2013-2014 Climate Score,2013-2014 College&Career Score,2013-2014 Overall Score,2012-2013 Achievement Score,2012-2013 Progress Score,2012-2013 Climate Score,2012-2013 College&Career Score,2012-2013 Overall Score
0,241HS,241,1,241HS,Girard Academic Music Program,Autonomy Network,HS,7.0,56.0,73.0,...,64.0,67.0,93.0,98.0,76,74,59,100,97,77
1,241MS,241,1,241MS,Girard Academic Music Program,Autonomy Network,MS,-15.0,84.0,46.0,...,84.0,32.0,99.0,NaN,62,83,40,100,NaN,65
2,403HS,403,1,403HS,High School of Engineering and Science,Autonomy Network,HS,15.0,71.0,78.0,...,66.0,84.0,94.0,95.0,82,70,90,97,98,87

In [4]:
spr_yoy.tail(7)

,Unnamed: 0,School ID_old,Dup_id_ind,School ID,School Name,2017-18 Learning Network,Report Type (School Level),YOY Change (2015-16 to 2016-17),2016-2017 Achievement Score,2016-2017 Progress Score,...,2013-2014 Achievement Score,2013-2014 Progress Score,2013-2014 Climate Score,2013-2014 College&Career Score,2013-2014 Overall Score,2012-2013 Achievement Score,2012-2013 Progress Score,2012-2013 Climate Score,2012-2013 College&Career Score,2012-2013 Overall Score
362,X24K8,X24,0,X24,Universal Charter School at Alcorn,Charters,K8,12.0,15.0,83.0,...,3.0,12.0,48.0,NaN,17,NaN,NaN,NaN,NaN,Not Eligible
364,X26K8,X26,0,X26,Mastery Charter School at Pastorius,Charters,K8,-23.0,8.0,29.0,...,22.0,84.0,52.0,NaN,59,NaN,NaN,NaN,NaN,Not Eligible
365,X27ES,X27,0,X27,Mastery Charter School at Wister*,Charters,ES,NaN,7.0,51.0,...,NaN,NaN,NaN,NaN,Not Eligible,NaN,NaN,NaN,NaN,Not Eligible
366,X28K8,X28,0,X28,GLA Charter at Huey*,Charters,K8,NaN,1.0,22.0,...,NaN,NaN,NaN,NaN,Not Eligible,NaN,NaN,NaN,NaN,Not Eligible
367,X40ES,X40,0,X40,MaST Community Charter II*,Charters,ES,NaN,56.0,NaN,...,NaN,NaN,NaN,NaN,Not Eligible,NaN,NaN,NaN,NaN,Not Eligible
368,X41HS,X41,0,X41,TECH Freire Charter School*,Charters,HS,NaN,1.0,28.0,...,NaN,NaN,NaN,NaN,Not Eligible,NaN,NaN,NaN,NaN,Not Eligible
369,X42ES,X42,0,X42,Independence Charter School West*,Charters,ES,NaN,20.0,NaN,...,NaN,NaN,NaN,NaN,Not Eligible,NaN,NaN,NaN,NaN,Not Eligible

In [3]:
def latestScores(row, score_type):
    year1 = str('2016-2017 ') + str(score_type)
    year2 = str('2015-2016 ') + str(score_type)
    year3 = str('2014-2015 ') + str(score_type)
    year4 = str('2013-2014 ') + str(score_type)
    year5 = str('2012-2013 ') + str(score_type)

    if not pd.isnull(row[year1]):
        score = row[year1]
    elif not pd.isnull(row[year2]):
        score = row[year2]
    elif not pd.isnull(row[year3]):
        score = row[year3]
    elif not pd.isnull(row[year4]):
        score = row[year4]
    elif not pd.isnull(row[year5]):
        score = row[year5]
    else:
        score = np.nan
        
    return score

spr_yoy['Achievement_Score_Final'] = spr_yoy.apply(latestScores, score_type='Achievement Score', axis=1)
spr_yoy['Progress_Score_Final'] = spr_yoy.apply(latestScores, score_type='Progress Score', axis=1)
spr_yoy['Climate_Score_Final'] = spr_yoy.apply(latestScores, score_type='Climate Score', axis=1)
spr_yoy['Overall_Score_Final'] = spr_yoy.apply(latestScores, score_type='Overall Score', axis=1)

In [4]:
# read SPR data
spr = pd.read_excel('data/SPR_SY1617_Data/SPR_SY1617_School_Metric_Scores_20180206.xlsx', sheet_name=1)

# convert School ID to string
spr = spr.rename(columns={'SRC School ID': 'School ID'})
spr['School ID'] = spr['School ID'].astype(str)
# spr.set_index(['School ID', 'Report'], inplace=True)

spr['Full Address'] = spr['Street Address'] + ', ' + spr['City'] + ', ' + spr['State'] + ' ' + spr['Zip Code'].astype(str)
spr.drop(['Street Address', 'City', 'State', 'Zip Code', 'Phone Number', 'Fax Number'], axis=1, inplace=True)
spr.head(3)

,School,School ID,Report,Rpt Type Long,Governance,Turnaround Model,Enrollment,Website,Grades Served,Admissions Type,...,Student Survey College & Career Score,Student Survey College & Career Pts Earn,Student Survey College & Career Pts Poss,Student Survey College & Career Pct Earn,Student Survey College & Career Tier,Teach Effect Distinguished Score,Teach Effect Instruction Score,Teacher Attendance Score,Student Survey Teaching Score,Full Address
0,John Bartram High School,101,HS,High School,District,NaN,601,philasd.org/bartram/,'9-12',Neighborhood,...,19,0.19,1,19,INTERVENE,15,21,56,47,"2401 S 67th St, Philadelphia, PA 19142"
1,West Philadelphia High School,102,HS,High School,District,Turnaround,483,webgui.phila.k12.pa.us/schools/w/westphila,'9-12',Neighborhood,...,27,0.27,1,27,WATCH,11,29,56,42,"4901 Chestnut St, Philadelphia, PA 19139"
2,High School of the Future,103,HS,High School,District,NaN,476,webgui.phila.k12.pa.us/schools/h/high-school-o...,'9-12',Citywide,...,0,0,1,0,INTERVENE,16,13,50,0,"4021 Parkside Ave, Philadelphia, PA 19104"

# Get GPS Coordinates
For each school, use the address to find the Latitude and Longitude Coordinates. This will let us place the schools on a map.

In [5]:
geolocator = Nominatim()
cell_start = time.time()

lat = pd.Series({})
lon = pd.Series({})

for index, row in spr.iterrows():
    addr = row['Full Address']

    if row['School ID'] not in lat:
        # try geocoder 4 times
        for i in range(0,4):
            try:
                location = geolocator.geocode(addr)
                break
            except GeocoderTimedOut:
                print("Geocoder Timed Out. Address =", addr)
                continue

        try:
            latitude = location.latitude
            longitude = location.longitude
        except AttributeError:
            latitude = np.nan
            longitude = np.nan

        lat = pd.concat([lat, pd.Series({row['School ID']: latitude})])
        lon = pd.concat([lon, pd.Series({row['School ID']: longitude})])
    
    else:
        continue
        
print('Cell Runtime:', round(time.time() - cell_start), 'seconds')

Geocoder Timed Out. Address = 4600 W Girard Ave, Philadelphia, PA 19131
Geocoder Timed Out. Address = 4600 W Girard Ave, Philadelphia, PA 19131
Geocoder Timed Out. Address = 6801 Cottage St, Philadelphia, PA 19135
Geocoder Timed Out. Address = 6801 Cottage St, Philadelphia, PA 19135
Geocoder Timed Out. Address = 6801 Cottage St, Philadelphia, PA 19135
Cell Runtime: 140 seconds

In [6]:
print(lat.shape, sum(pd.isnull(lat)))
lat = lat.rename("Latitude")
lon = lon.rename("Longitude")

(294,) 44

In [7]:
df = pd.merge(spr, spr_yoy, how='inner', on='School ID')
df = pd.merge(df, lat.to_frame(), how='left', left_on='School ID', right_index=True)
df = pd.merge(df, lon.to_frame(), how='left', left_on='School ID', right_index=True)

df = df[['School','School ID', 'Full Address', 'Enrollment', 'Rpt Type Long','Governance', 'Achievement_Score_Final', \
         'Progress_Score_Final', 'Climate_Score_Final', 'Overall_Score_Final', 'Latitude', 'Longitude']]
df.head()

,School,School ID,Full Address,Enrollment,Rpt Type Long,Governance,Achievement_Score_Final,Progress_Score_Final,Climate_Score_Final,Overall_Score_Final,Latitude,Longitude
0,John Bartram High School,101,"2401 S 67th St, Philadelphia, PA 19142",601,High School,District,0.0,28.0,11.0,14,39.921470,-75.234018
1,West Philadelphia High School,102,"4901 Chestnut St, Philadelphia, PA 19139",483,High School,District,0.0,44.0,14.0,22,39.958587,-75.219431
2,High School of the Future,103,"4021 Parkside Ave, Philadelphia, PA 19104",476,High School,District,3.0,27.0,46.0,23,39.974678,-75.204826
3,Paul Robeson High School for Human Services,105,"4125 Ludlow St, Philadelphia, PA 19104",297,High School,District,0.0,60.0,61.0,41,39.956797,-75.204833
4,William L. Sayre High School,110,"5800 Walnut St, Philadelphia, PA 19139",492,High School,District,0.0,13.0,12.0,8,39.958371,-75.237623

## Serious Incidents (aka Safety)

In [8]:
si_1314 = pd.read_csv('data/Serious_Incidents/Serious_Incidents_2013-14.TXT')
si_1415 = pd.read_excel('data/Serious_Incidents/Serious_Incidents_2014-15.xlsx', sheet_name=0)
si_1415.rename(columns={'ULCS Code':'ULCS_NO', 
                        'School Year':'SCHOOL_YEAR', 
                        'Incident Type':'INCIDENT_TYPE',
                        'Incident Count':'INCIDENT_COUNT',
                        'School ID':'SCHOOL_ID'}, inplace=True)

si_1516 = pd.read_excel('data/Serious_Incidents/Serious_Incidents_2015-16.xls', sheet_name=0)
si_1617 = pd.read_excel('data/Serious_Incidents/Serious_Incidents_2016-17.xlsx', sheet_name=0)

si = pd.concat([si_1314, si_1415, si_1516, si_1617]).reset_index(drop=True)
si.drop('ULCS_NO', axis=1, inplace=True)
si['INCIDENT_TYPE'] = si['INCIDENT_TYPE'].str.upper()
si['INCIDENT_TYPE'].replace('SUICIDE - ATTEMPTS & THREATS', 'SUICIDE - ATTEMPTS AND THREATS', inplace=True)
si['INCIDENT_TYPE'].replace('DRUGS & ALCOHOL OFFENSE', 'DRUG AND ALCOHOL OFFENSES', inplace=True)
si['INCIDENT_TYPE'].replace('DRUG & ALCOHOL OFFENSES', 'DRUG AND ALCOHOL OFFENSES', inplace=True)
si['INCIDENT_TYPE'].replace('THREATS', 'THREAT', inplace=True)
si['INCIDENT_TYPE'].replace('THEFTS', 'THEFT', inplace=True)
si['INCIDENT_TYPE'].replace('BOMB SCARES', 'BOMB SCARE', inplace=True)
si['INCIDENT_TYPE'].replace('FIRES AND FALSE ALARMS', 'FIRE - INCENDIARY', inplace=True)
si['INCIDENT_TYPE'].replace('THREATS - VERBAL AND WRITTEN', 'THREAT', inplace=True)
si['INCIDENT_TYPE'].replace('WEAPONS OFFENSES', 'WEAPONS', inplace=True)

# convert School ID to string
si['SCHOOL_ID'] = si['SCHOOL_ID'].astype(str)

si.head()

   INCIDENT_COUNT              INCIDENT_TYPE SCHOOL_ID SCHOOL_YEAR
0               1                 HARASSMENT       526   2013-2014
1               5                   ASSAULTS       534   2013-2014
2               8                     THREAT       535   2013-2014
3               0                   TAKE OFF       537   2013-2014
4               0  DRUG AND ALCOHOL OFFENSES       545   2013-2014

In [9]:
si2 = pd.pivot_table(si, values='INCIDENT_COUNT', 
                   index='SCHOOL_ID', 
                   columns=['INCIDENT_TYPE'], 
                   aggfunc=np.sum).fillna(0).reset_index()

# convert School ID to string
si2['SCHOOL_ID'] = si2['SCHOOL_ID'].astype(str)


pd.set_option('display.max_columns', 500)
df2 = pd.merge(df, si2, how='left', left_on='School ID', right_on='SCHOOL_ID')
df2.drop('SCHOOL_ID', axis=1, inplace=True)

In [10]:
# df2.head(3)
# si.head(3)

In [11]:
for val in si['INCIDENT_TYPE'].unique():
    df2[val + '_rate'] = (df2[val] * 100) / (df2['Enrollment'] * 4)
    
df2.head()

,School,School ID,Full Address,Enrollment,Rpt Type Long,Governance,Achievement_Score_Final,Progress_Score_Final,Climate_Score_Final,Overall_Score_Final,Latitude,Longitude,ASSAULTS,BOMB SCARE,BULLYING,BURGLARY,DISORDERLY CONDUCT,DRUG AND ALCOHOL OFFENSES,FIRE - INCENDIARY,GRAFFITI,HARASSMENT,MORALS OFFENSES,ROBBERY,SUICIDE,SUICIDE - ATTEMPTS AND THREATS,TAKE OFF,THEFT,THREAT,TRESPASSING,VANDALISM,WEAPONS,HARASSMENT_rate,ASSAULTS_rate,THREAT_rate,TAKE OFF_rate,DRUG AND ALCOHOL OFFENSES_rate,BURGLARY_rate,TRESPASSING_rate,BULLYING_rate,WEAPONS_rate,BOMB SCARE_rate,FIRE - INCENDIARY_rate,ROBBERY_rate,THEFT_rate,VANDALISM_rate,DISORDERLY CONDUCT_rate,SUICIDE_rate,MORALS OFFENSES_rate,GRAFFITI_rate,SUICIDE - ATTEMPTS AND THREATS_rate
0,John Bartram High School,101,"2401 S 67th St, Philadelphia, PA 19142",601,High School,District,0.0,28.0,11.0,14,39.921470,-75.234018,71.0,0.0,2.0,0.0,85.0,30.0,8.0,0.0,3.0,10.0,10.0,0.0,0.0,0.0,21.0,16.0,4.0,38.0,29.0,0.124792,2.953411,0.665557,0.0,1.247920,0.000000,0.166389,0.083195,1.206323,0.00000,0.332779,0.415973,0.873544,1.580699,3.535774,0.000000,0.415973,0.00000,0.0
1,West Philadelphia High School,102,"4901 Chestnut St, Philadelphia, PA 19139",483,High School,District,0.0,44.0,14.0,22,39.958587,-75.219431,40.0,3.0,3.0,0.0,62.0,30.0,1.0,1.0,2.0,3.0,5.0,0.0,0.0,0.0,19.0,12.0,0.0,8.0,18.0,0.103520,2.070393,0.621118,0.0,1.552795,0.000000,0.000000,0.155280,0.931677,0.15528,0.051760,0.258799,0.983437,0.414079,3.209110,0.000000,0.155280,0.05176,0.0
2,High School of the Future,103,"4021 Parkside Ave, Philadelphia, PA 19104",476,High School,District,3.0,27.0,46.0,23,39.974678,-75.204826,52.0,0.0,0.0,0.0,84.0,16.0,0.0,0.0,1.0,5.0,3.0,0.0,0.0,0.0,34.0,9.0,1.0,17.0,5.0,0.052521,2.731092,0.472689,0.0,0.840336,0.000000,0.052521,0.000000,0.262605,0.00000,0.000000,0.157563,1.785714,0.892857,4.411765,0.000000,0.262605,0.00000,0.0
3,Paul Robeson High School for Human Services,105,"4125 Ludlow St, Philadelphia, PA 19104",297,High School,District,0.0,60.0,61.0,41,39.956797,-75.204833,1.0,0.0,0.0,0.0,10.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.000000,0.084175,0.000000,0.0,0.000000,0.000000,0.084175,0.000000,0.084175,0.00000,0.084175,0.084175,0.252525,0.000000,0.841751,0.000000,0.000000,0.00000,0.0
4,William L. Sayre High School,110,"5800 Walnut St, Philadelphia, PA 19139",492,High School,District,0.0,13.0,12.0,8,39.958371,-75.237623,70.0,0.0,0.0,4.0,100.0,34.0,4.0,0.0,0.0,5.0,7.0,1.0,0.0,0.0,12.0,14.0,17.0,8.0,17.0,0.000000,3.556911,0.711382,0.0,1.727642,0.203252,0.863821,0.000000,0.863821,0.00000,0.203252,0.355691,0.609756,0.406504,5.081301,0.050813,0.254065,0.00000,0.0

In [12]:
from sklearn import preprocessing

# scale 'recipient_cfscore' to be 0-1 so it matches our ideology score above
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0,100))

df2['SafetyIncidentRate'] = df2['ASSAULTS_rate'] + df2['BULLYING_rate'] + df2['HARASSMENT_rate'] + \
                        df2['BURGLARY_rate'] + df2['ROBBERY_rate'] + df2['THEFT_rate'] + df2['WEAPONS_rate'] + \
                        df2['SUICIDE_rate']

null_index = df2['SafetyIncidentRate'].isnull() 
df2.loc[~null_index, 'SafetyScore'] = 100 - min_max_scaler.fit_transform(np.array(df2.loc[~null_index, 'SafetyIncidentRate']).reshape(-1, 1))

df2.SafetyScore = df2.SafetyScore.round()


df2.head()

,School,School ID,Full Address,Enrollment,Rpt Type Long,Governance,Achievement_Score_Final,Progress_Score_Final,Climate_Score_Final,Overall_Score_Final,Latitude,Longitude,ASSAULTS,BOMB SCARE,BULLYING,BURGLARY,DISORDERLY CONDUCT,DRUG AND ALCOHOL OFFENSES,FIRE - INCENDIARY,GRAFFITI,HARASSMENT,MORALS OFFENSES,ROBBERY,SUICIDE,SUICIDE - ATTEMPTS AND THREATS,TAKE OFF,THEFT,THREAT,TRESPASSING,VANDALISM,WEAPONS,HARASSMENT_rate,ASSAULTS_rate,THREAT_rate,TAKE OFF_rate,DRUG AND ALCOHOL OFFENSES_rate,BURGLARY_rate,TRESPASSING_rate,BULLYING_rate,WEAPONS_rate,BOMB SCARE_rate,FIRE - INCENDIARY_rate,ROBBERY_rate,THEFT_rate,VANDALISM_rate,DISORDERLY CONDUCT_rate,SUICIDE_rate,MORALS OFFENSES_rate,GRAFFITI_rate,SUICIDE - ATTEMPTS AND THREATS_rate,SafetyIncidentRate,SafetyScore
0,John Bartram High School,101,"2401 S 67th St, Philadelphia, PA 19142",601,High School,District,0.0,28.0,11.0,14,39.921470,-75.234018,71.0,0.0,2.0,0.0,85.0,30.0,8.0,0.0,3.0,10.0,10.0,0.0,0.0,0.0,21.0,16.0,4.0,38.0,29.0,0.124792,2.953411,0.665557,0.0,1.247920,0.000000,0.166389,0.083195,1.206323,0.00000,0.332779,0.415973,0.873544,1.580699,3.535774,0.000000,0.415973,0.00000,0.0,5.657238,67.0
1,West Philadelphia High School,102,"4901 Chestnut St, Philadelphia, PA 19139",483,High School,District,0.0,44.0,14.0,22,39.958587,-75.219431,40.0,3.0,3.0,0.0,62.0,30.0,1.0,1.0,2.0,3.0,5.0,0.0,0.0,0.0,19.0,12.0,0.0,8.0,18.0,0.103520,2.070393,0.621118,0.0,1.552795,0.000000,0.000000,0.155280,0.931677,0.15528,0.051760,0.258799,0.983437,0.414079,3.209110,0.000000,0.155280,0.05176,0.0,4.503106,74.0
2,High School of the Future,103,"4021 Parkside Ave, Philadelphia, PA 19104",476,High School,District,3.0,27.0,46.0,23,39.974678,-75.204826,52.0,0.0,0.0,0.0,84.0,16.0,0.0,0.0,1.0,5.0,3.0,0.0,0.0,0.0,34.0,9.0,1.0,17.0,5.0,0.052521,2.731092,0.472689,0.0,0.840336,0.000000,0.052521,0.000000,0.262605,0.00000,0.000000,0.157563,1.785714,0.892857,4.411765,0.000000,0.262605,0.00000,0.0,4.989496,71.0
3,Paul Robeson High School for Human Services,105,"4125 Ludlow St, Philadelphia, PA 19104",297,High School,District,0.0,60.0,61.0,41,39.956797,-75.204833,1.0,0.0,0.0,0.0,10.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.000000,0.084175,0.000000,0.0,0.000000,0.000000,0.084175,0.000000,0.084175,0.00000,0.084175,0.084175,0.252525,0.000000,0.841751,0.000000,0.000000,0.00000,0.0,0.505051,97.0
4,William L. Sayre High School,110,"5800 Walnut St, Philadelphia, PA 19139",492,High School,District,0.0,13.0,12.0,8,39.958371,-75.237623,70.0,0.0,0.0,4.0,100.0,34.0,4.0,0.0,0.0,5.0,7.0,1.0,0.0,0.0,12.0,14.0,17.0,8.0,17.0,0.000000,3.556911,0.711382,0.0,1.727642,0.203252,0.863821,0.000000,0.863821,0.00000,0.203252,0.355691,0.609756,0.406504,5.081301,0.050813,0.254065,0.00000,0.0,5.640244,67.0

# Export Data

In [13]:
# save data
df2.to_csv("data/philly_school_data_v2.csv", sep='|', index=False)